<!DOCTYPE html>
<html lang="en">

<head>

    <title>Student Portal - Login</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href='{{ url_for('static', filename='css/bootstrap.min.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/font-awesome.min.css') }}'>
</head>

<body>

<div class="container-fluid">
    <h2>Include Any HTML here</h2>
    {% include 'navbar.html' %}
</div>

<script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
<script src='{{ url_for('static', filename='js/bootstrap.min.js') }}'></script>

</body>

</html>